.topAvatar{
    width: 220px;
    height: 75px;
    transition: transform .2s;
    object-fit: contain;
    
} 
.btn_getst
.contentRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}